<h1> world index page </h1>

<div>
    <strong><%= link_to "CREATE A NEW WORLD", new_world_path %></strong>
    </div>
    <br>

    <br>

    <h2>Search by World:</h2>
    <%= form_tag world_index_path, :method => "get" do %>
        <%= label_tag(:search, "What World Are You Looking For?") %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ("Search", :name => nil) %>
    <% end %>

    <br>

<ul>
<% @worlds.each do |w| %>

    <li><%= link_to w.name, world_path(w) %> 
   </li>
   <br> 
   
<% end %>
</ul>
<br>
