<% if @character.user_id == current_user.id %>
    <%= link_to "Edit character", edit_world_character_path(@world) %> <br>
    
    <%= link_to "delete character", @character, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
  This character belongs to <%= @world.user.email %>
  
<% end %>

<p>
  <strong>Name:</strong>
  <%= @character.name  %>
</p>
 
<p>
  <strong>Type:</strong>
  <%= @character.type %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <strong>character species:</strong>
  <%= @character.species %>
</p>

<br>
<h2>
<%= link_to 'BACK', world_path(@world) %>

</h2>
